<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chuanchen.dao.AlumnusMapper">
    <resultMap type="com.chuanchen.entity.Alumnus" id="BaseResult">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="username" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" typeHandler="com.chuanchen.typehandler.SexTypeHandler"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="nation" column="nation_number" typeHandler="com.chuanchen.typehandler.CodeTypeHandler"/>
        <result property="identity" column="identity_number" typeHandler="com.chuanchen.typehandler.CodeTypeHandler"/>
        <result property="idCard" column="id_card" jdbcType="VARCHAR"/>
        <result property="birthday" column="birthday" typeHandler="com.chuanchen.typehandler.DateTypeHandler"/>
        <result property="birthPlace" column="birthplace_number" typeHandler="com.chuanchen.typehandler.CodeTypeHandler"/>
        <result property="address" column="address_number" typeHandler="com.chuanchen.typehandler.CodeTypeHandler"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="education" column="education_number" typeHandler="com.chuanchen.typehandler.CodeTypeHandler"/>
        <result property="entranceAge" column="entrance_age" typeHandler="com.chuanchen.typehandler.DateTypeHandler"/>
        <result property="graduteAge" column="gradute_age" typeHandler="com.chuanchen.typehandler.DateTypeHandler"/>
        <result property="instructor" column="instructor" jdbcType="VARCHAR"/>
        <result property="academic" column="academic" jdbcType="VARCHAR"/>
        <result property="profession" column="profession" jdbcType="VARCHAR"/>
        <result property="classs" column="classs" jdbcType="VARCHAR"/>
        <result property="workAddress" column="work_address_number" typeHandler="com.chuanchen.typehandler.CodeTypeHandler"/>
        <result property="inductive" column="inductive_age" typeHandler="com.chuanchen.typehandler.DateTypeHandler"/>
        <result property="organization" column="organization" jdbcType="VARCHAR"/>
        <result property="industry" column="industry_number" typeHandler="com.chuanchen.typehandler.CodeTypeHandler"/>
        <result property="organizationNature" column="organization_nature_number" typeHandler="com.chuanchen.typehandler.CodeTypeHandler"/>
        <result property="department" column="department" jdbcType="VARCHAR"/>
        <result property="job" column="job" jdbcType="VARCHAR"/>
        <result property="studentNumber" column="student_number" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="isAlumnusExist" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*) from alumnus where student_number = #{studentNumber} and username = #{name};
    </select>
    <select id="getAlumnusById" parameterType="java.lang.Integer" resultMap="BaseResult">
        select * from alumnus where id = #{id};
    </select>
    <select id="findAlumnuses" resultMap="BaseResult">
        select * from alumnus limit #{begin},#{limit};
    </select>
    <select id="getAlumnusCount" resultType="java.lang.Integer">
        select count(*) from alumnus;
    </select>
    <select id="getCountByCity" resultType="java.lang.Integer">
        select count(*) from alumnus where work_address_number = #{cityCode};
    </select>
    <select id="getAlumnusListByCity" resultMap="BaseResult">
        select * from alumnus where work_address_number = #{cityCode} limit #{begin},#{limit};
    </select>
    <select id="getAlumnusNameById" resultType="java.lang.String" parameterType="java.lang.Integer">
        select username from alumnus where id = #{id};
    </select>
    <insert id="saveAlumnus" parameterType="com.chuanchen.entity.Alumnus">
        insert into
        alumnus(username,sex,nation_number,identity_number,id_card,birthday,birthplace_number,address_number,phone,email,education_number,entrance_age,gradute_age,academic,profession,classs,work_address_number,inductive_age,organization,industry_number,organization_nature_number,department,job,student_number,instructor,avatar)
        values (
        #{name},#{sex,typeHandler=com.chuanchen.typehandler.SexTypeHandler},#{nation,typeHandler=com.chuanchen.typehandler.CodeTypeHandler},#{identity,typeHandler=com.chuanchen.typehandler.CodeTypeHandler},#{idCard},#{birthday,typeHandler=com.chuanchen.typehandler.DateTypeHandler},#{birthPlace,typeHandler=com.chuanchen.typehandler.CodeTypeHandler},#{address,typeHandler=com.chuanchen.typehandler.CodeTypeHandler},
        #{phone},#{email},#{education,typeHandler=com.chuanchen.typehandler.CodeTypeHandler},#{entranceAge,typeHandler=com.chuanchen.typehandler.DateTypeHandler},#{graduteAge,typeHandler=com.chuanchen.typehandler.DateTypeHandler},#{academic},#{profession},#{classs},#{workAddress,typeHandler=com.chuanchen.typehandler.CodeTypeHandler},
        #{inductive,typeHandler=com.chuanchen.typehandler.DateTypeHandler},#{organization},#{industry,typeHandler=com.chuanchen.typehandler.CodeTypeHandler},#{organizationNature,typeHandler=com.chuanchen.typehandler.CodeTypeHandler},#{department},#{job},#{studentNumber},#{instructor},#{avatar});
    </insert>
    <delete id="deleteAlumusById" parameterType="java.lang.Integer">
        delete from alumnus where id = #{id};
    </delete>
</mapper>