<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chuanchen.dao.CodeMapper">

    <select id="getIdByName" parameterType="java.lang.String" resultType="java.lang.Integer">
        select id from code where name = #{name};
    </select>
    <select id="getNameById" parameterType="java.lang.Integer" resultType="java.lang.String">
        select name from code where id = #{code};
    </select>
    <select id="getNameListByCode" parameterType="java.lang.Integer" resultType="java.lang.String">
        select name from code where type = #{codeType};
    </select>
    <insert id="insertCodeModel" useGeneratedKeys="true" keyProperty="id">
        insert into code(name,type) values(#{name},#{codeType});
    </insert>
</mapper>