<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chuanchen.dao.ProjectMapper">
    <resultMap type="com.chuanchen.entity.Project" id="BaseResult">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="uploadTime" column="upload_time" jdbcType="DATE"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="uploadName" column="upload_name" jdbcType="VARCHAR"/>
        <result property="file" column="file" jdbcType="VARCHAR"/>
        <result property="projectType" column="project_type" typeHandler="com.chuanchen.typehandler.ProjectTypeHandler"/>
        <result property="status" column="status" typeHandler="com.chuanchen.typehandler.StatusTypeHandler"/>
        <result property="alumnusId" column="alumnus_id" jdbcType="INTEGER"/>
    </resultMap>
    <select id="getTotalCount" resultType="java.lang.Integer">
        select count(*) from project;
    </select>
    <select id="findProjectList" resultMap="BaseResult">
        select * from project where project_type = #{type} order by upload_time limit #{begin},#{limit};
    </select>
    <select id="findProjectById" resultMap="BaseResult">
        select * from project where id = #{id};
    </select>
    <select id="getCountByAlumnusId" resultType="java.lang.Integer">
        select count(*) from project where alumnus_id = #{alumnusId};
    </select>
    <select id="findProjectsByAlumnusId" resultMap="BaseResult">
        select * from project where alumnus_id = #{alumnusId} order by upload_time desc limit #{begin},#{limit};
    </select>
    <insert id="saveProject" parameterType="com.chuanchen.entity.Project" useGeneratedKeys="true" keyProperty="id">
        insert into project(name,upload_time,content,upload_name,file,project_type,status,alumnus_id) values(#{name},
        #{uploadTime},#{content},#{uploadName},#{file},#{projectType,typeHandler=com.chuanchen.typehandler.ProjectTypeHandler},
        #{status,typeHandler=com.chuanchen.typehandler.StatusTypeHandler},#{alumnusId});
    </insert>
    <delete id="deleteProject" parameterType="java.lang.Integer">
        delete from project where id = #{id};
    </delete>
</mapper>