<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chuanchen.dao.TopAlumnusMapper">
    <resultMap type="com.chuanchen.entity.TopAlumnus" id="BaseResult">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="uploadDate" column="upload_date" jdbcType="DATE"/>
    </resultMap>
    <insert id="uploadTopAlumnus" parameterType="com.chuanchen.entity.TopAlumnus" useGeneratedKeys="true" keyProperty="id">
        insert into top_alumnus(name,description,upload_date,avatar) values(#{name},#{description},#{uploadDate},#{avatar});
    </insert>
</mapper>