<!DOCTYPE html><!--Bootstrap 使用到的某些 HTML 元素和 CSS 属性需要将页面设置为 HTML5 文档类型-->
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>校友注册-cqupt</title>
    <link href="../../Bootstrap-Admin-Theme/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../../Bootstrap-Admin-Theme/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="../../Bootstrap-Admin-Theme/assets/styles.css" rel="stylesheet" media="screen">
    <link href="../../Bootstrap-Admin-Theme/assets/DT_bootstrap.css" rel="stylesheet" media="screen">
    <link href="../../css/alumnus_index.css" rel="stylesheet" type="text/css"/>
    <script src="../../Bootstrap-Admin-Theme/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>

</head>
<body >
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">后台管理系统</a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-user"></i> chuanchen <i class="caret"></i>

                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a tabindex="-1" href="#">个人信息</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a tabindex="-1" href="login.html">退出登录</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav">
                    <li >
                        <a href="#">校友信息管理</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
<div style="width: 80%; margin:0 auto;">
    <div class="span3" id="sidebar" style="width:200px;">
        <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse" style="margin-top:15px;">
            <li class="active" >
                <a href="#"><i class="icon-chevron-right"></i> 校友信息管理</a>
            </li>
            <li >
                <a href="#"><i class="icon-chevron-right"></i> 校友通知管理 </a>
            </li>
            <li >
                <a href="#"><i class="icon-chevron-right"></i> 捐赠发布管理 </a>
            </li>
            <li >
                <a href="#"><i class="icon-chevron-right"></i> 杰出校友管理 </a>
            </li>
            <li >
                <a href="#"><i class="icon-chevron-right"></i> 校友服务管理 </a>
            </li>

        </ul>
    </div>
    <div class="span12" id="content" style="margin-left:50px;">

    </div>

</div>
</div>
</body>
</html>